.form-control{
     margin-right: 1030px;
     width: 400px;
}

.logo{
    margin-left: 5px;
}

.breadcrumb{
    margin-left: 5px;
    font-size: 20px;
}

.breadcrumb svg{
    margin-right: 10px;
}

.breadcrumb button{
    margin-left: 978px;
}

.h{
    margin-left: 1100px;
    height: 30px;
    border-radius: 30px;
    border-color: aliceblue;
}

.bar2 {
    margin-top: 10px;
    margin-bottom: 15px; 
    
}

.navbar-brand{
    margin-right: 5px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 4px;
    margin-left: -7px;
    font-size: 20px;
    height: 37px;
}

.division {
    border-radius: 4px; 
    margin-right: 2px;
    height: 26px;
}

.section{
    border-radius: 4px; 
    margin-right: 2px;
    margin-left: 2px;
    height: 26px;
}

.department{
    border-radius: 4px; 
    margin-right: 2px;
    margin-left: 2px;
    height: 26px;
}

.vendor{
    border-radius: 4px; 
    margin-right: 2px;
    margin-left: 2px;
    height: 26px;
}

.zone{
    border-radius: 4px; 
    margin-right: 2px;
    margin-left: 2px;
    height: 26px;
}



#chart {
    width: 450px;
    height: 450px;
}

.tab, td {
    border: 1px  solid rgb(209, 209, 209);
    padding: 10px 25px;
    font-weight: bold;
    border-collapse: collapse;
    width: 50px;
    height: 10px;
    text-align: center;
}

.content {
    display: flex;
    
}

th {
    color: grey ;
}

.roundchart {
    color: grey;
}

.firstchart {
    border: 1px solid rgb(209, 209, 209);
    padding: 5px;
    width: 50%;
    height: 710px;
    border-radius: 2px;
    padding-right: 5px; 
    border-radius: 3px;
    margin-left: 5px;
}

.graphdata {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(209, 209, 209);
    margin-top: 20px;
    width: 1467px;
    height: 660px;
    margin-left: 5px;
    border-radius: 3px;
}
.secondchart{
    margin-left: 20px;
}

.maindata{
    display: flex;
    justify-content: space-evenly;
}

.graph{
    width: 100%;
    border: 1px solid rgb(209, 209, 209); 
    margin-left: 5px;
}

.nav-item{
    margin-right: 2rem;
}

.collapse input{
    width: 200px;
    margin-right: 0.5rem;
}

.btn{
    margin-left: 1017px;
    border-radius: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    
}

.collapse button{
    width: 150px;
    margin-left: 2.3rem;
    border-radius: 4px;
}

.btn-group button{
    border-radius: 4px;
    margin-left: -237px;
    height: 60px;
}

.bi1{
    margin-left: -320px;
}

.bi2{
    margin-left: -270px;
}

.graph .secondchart .btn-group button{
    margin-left:1px;
    height: 40px;
}

.firstchart button{
    margin-left: 1px;
}

.graphdata .secondchart .btn-group button{
    margin-left:1px;
    height: 40px;
}
